/**
 * The `env()` function used in this block of code
 * allows us to reference special variables that might be defined
 * by certain browsers. In this case, we are making sure that
 * the app stays within the 'safe' viewable area of a mobile phone,
 * and isn't covered up by the phone's UI.
 *
 * @see: https://developer.mozilla.org/en-US/docs/Web/CSS/env
 */

.Layout {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 100vw;
	padding-top: calc(1rem + env(safe-area-inset-top, 1rem));
	padding-bottom: calc(1rem + env(safe-area-inset-bottom, 1rem));
	width: 64rem;
}

.Layout-header {
	background-color: var(--color-bg);
	position: sticky;
	text-align: center;
	top: 0;
}

.Layout-header > h1 {
	margin-top: 0;
}

.Layout-main {
	margin: 0 auto;
	max-width: 95vw;
	width: 95%;
}

.Nav {
	position: fixed;
	width: 100vw;
	padding-left: 25%;
	padding-right: 25%;
	height: 64px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--color-nav);
	bottom: 0;
}

.Nav-link {
	color: var(--color-text);
	font-size: 2.6rem;
	flex: 0 1 auto;
	padding: 0.8rem;
	text-align: center;
	text-decoration: none;
}

.Nav-link:hover {
	opacity: 75%;
}

.Nav-link.active {
	text-decoration: underline;
	text-decoration-thickness: 0.22em;
	text-underline-offset: 0.3em;
	font-weight: 700;
	text-decoration-color: var(--color-input);
}

/* List will need adjustment */
@media screen and (min-width: 800px) {
	.Layout {
		width: min(90vw, 800px);
	}
	.Layout-main {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media (max-width: 800px) {
	.Nav {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 350px) {
	.Nav {
		padding-left: 5%;
		padding-right: 5%;
	}
}
