.foodpuns__content {
	background-color: var(--color-nav);
	padding: 14px;
	border-radius: 12px;
	width: 100px;
	text-align: center;
	height: auto;
	overflow-wrap: break-word;
}

.foodpuns {
	position: fixed;
	bottom: 75px;
	z-index: 1;
	right: 5%;
}

@media only screen and (max-width: 600px) {
	.foodpuns__content {
		position: fixed;
		bottom: 75px;
		right: 20%;
		width: 75vw;
	}
}
