.ListItem {
	background-color: var(--color-listitem-bg);

	width: 100%;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(min-content, max-content);
	grid-auto-flow: row;
	grid-template-areas:
		'urgency urgency'
		'name name'
		'checkbox delete';

	border: solid 2px var(--color-text);

	margin-bottom: 2rem;
}

.section-urgency {
	grid-area: urgency;

	font-size: 1.6rem;

	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom: solid 2px var(--color-text);

	margin-bottom: 1rem;
}

.section-urgency p {
	margin: 0.5rem;
}

.section-checkbox {
	grid-area: checkbox;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 1rem;

	min-height: 64px;
}

.ListItem-checkbox {
	accent-color: var(--color-accent);

	margin: 0;
	padding: 0;

	height: 60%;
	aspect-ratio: 1/1;
}

.section-label {
	grid-area: name;

	font-size: 2.4rem;

	padding: 0 1.6rem 3.4rem 1.6rem;

	border-bottom: solid 2px var(--color-text);
}

.delete-button {
	grid-area: delete;

	border: none;
	background: none;

	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 64px;

	padding: 1rem;

	border-left: solid 2px var(--color-text);
}

.delete-icon {
	background-color: var(--color-text);

	height: 6.4px;
	width: 40px;

	border-radius: 10px;

	transform: rotate(45deg);
}

.delete-icon::after {
	background-color: var(--color-text);

	content: '';
	display: block;

	height: 6.4px;
	width: 40px;

	border-radius: 10px;

	transform: rotate(90deg);
}

.soon {
	background-color: red;
}

.kind-of-soon {
	background-color: orange;
}

.not-soon {
	background-color: yellow;
}

.inactive {
	background-color: grey;
}

.overdue {
	background-color: purple;
}
