:root {
	--color-dark-gray: #43403e;
	--color-white: #fafaf9;
	--color-cream: #f7efe3;
	--color-peach: #e1cbb7;
	--color-black-accent: #2d2614;
	--color-pink: #cc8a7c;
	--color-orange: #d2a072;

	--color-dusty-gray: #7b7366;
	--color-brown: #94744e;
	--color-dark-peach: #cfb297;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-bg: var(--color-white);
		--color-nav: var(--color-cream);
		--color-accent: var(--color-peach);
		--color-text: var(--color-black-accent);
		--color-input: var(--color-orange);
		--color-trash: var(--color-pink);
		--color-dark-accent: var(--color-black-accent);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-bg: var(--color-dark-gray);
		--color-nav: var(--color-dusty-gray);
		--color-accent: var(--color-brown);
		--color-text: var(--color-cream);
		--color-input: var(--color-dark-peach);
		--color-trash: var(--color-pink);
		--color-dark-accent: var(--color-black-accent);
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

button {
	border: none;
	padding: 8px 12px 8px 12px;
	border-radius: 10px;
	background-color: var(--color-accent);
	text-align: center;
	color: var(--color-text);
}

button,
select {
	transition: all 0.13s ease-in-out;
}

select {
	background-color: var(--color-nav);
	color: var(--color-text);
	border: none;
	padding: 8px 12px 8px 12px;
	border-radius: 10px;
	text-indent: 4px;
	border-right: 16px solid transparent;
}

input {
	background-color: transparent;
	border: none;
	border-bottom: 3px solid var(--color-input);
	margin-bottom: -1px;
}

button:hover,
select:hover {
	filter: brightness(85%) saturate(3);
}

/**
 * Make sure the app fills the height of the viewport
 */
html,
body,
#root,
#root > * {
	min-height: 100vh;
}

ul {
	padding: 0;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 1.6rem;
	line-height: 1.2;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
